.dismissible-block {
  position: relative;
}

.dismissible-block.has-pre-js-hide {
  height: 0;
  visibility: hidden;
}

.dismissible-block.has-js-hide {
  display: none;
}

.dismissible-block .dismiss-block-btn {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.dismissible-block.show-dismiss-btn .dismiss-block-btn {
  display: block;
}
